<section class='profile'>
  <h2><%=@user.username%></h2>
  <p><a href="/decks/new">Create a New Deck</a> || <a href="/"</a>Back to the Index</a></p>
  <p>Your stats...</p>
<% @user.decks.distinct.each do |deck| %>
  <h3><%=deck.name%></h3>
  <% deck.rounds.each do |round| %>
  <ul>
    <li>Date Played: <%=round.date_played%></li>
    <li>Cards in Deck: <%=round.number_cards%></li>
    <li>First Guess Correct: <%=round.first_try%></li>
    <li>Total Guesses: <%=round.total_attempts%></li>
  </ul>
  <%end %>
<% end %>
</section>
